on fs
    mkdir /vzwqualitylogger 0770 system system
    mkdir /vzw 0770 system system
    mkdir /vzw/quality 0770 system system

    chown quality_logger quality_logger /vzwqualitylogger
    chown quality_logger quality_logger /vzw
    chown quality_logger quality_logger /vzw/quality

# Mount vzw partition for VZW SKU
on property:ro.cid=VZW__001
    wait /dev/block/bootdevice/by-name/vzw_logger
    e2fsck /dev/block/bootdevice/by-name/vzw_logger
    mount ext4 /dev/block/bootdevice/by-name/vzw_logger /vzwqualitylogger nosuid nodev barrier=1,errors=continue
    chown quality_logger quality_logger /vzwqualitylogger
    chmod 0770 /vzwqualitylogger

    wait /dev/block/bootdevice/by-name/vzw_quality
    e2fsck /dev/block/bootdevice/by-name/vzw_quality
    mount ext4 /dev/block/bootdevice/by-name/vzw_quality /vzw/quality nosuid nodev barrier=1,errors=continue
    chown quality_logger quality_logger /vzw
    chown quality_logger quality_logger /vzw/quality
    chmod 0770 /vzw
    chmod 0770 /vzw/quality
    restorecon_recursive /vzw
    restorecon_recursive /vzwqualitylogger

on post-fs-data
    # for carrierota folder
    mkdir /data/carrierota 0770 system carrierota
    chown system carrierota /data/carrierota
    chmod 0770 /data/carrierota
    restorecon_recursive /data/carrierota

