on fs

    # Mount cradio image
    mkdir /firmware/cradio 0771 system system
    wait /dev/block/bootdevice/by-name/cradio
    mount vfat /dev/block/bootdevice/by-name/cradio /firmware/cradio ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

